h1 {
  font-size: 2.2vw;
}
h3 {
  font-size: 1vw;
}

.timer {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 2vw;
  margin-left: 0%;
  font-size: 1.0vw;
  font-family: 'Rubik', sans-serif;
  display: flex;
}
.darkgrey {
    background-color: rgb(50,50,50);
    color: white;
}
.timerbold {
  background-color: white;
  padding-bottom: .5vw;
  padding-top: .5vw;
  padding-left: 1.5vw;
}
.data {
  font-family: 'Rubik', sans-serif;
}
#notes {
}
.gray {
  background-color: rgb(200,200,200);
}
.auto {
}

#TBA {
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.row
{
    display: table-row;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.column
{
    display: table-cell;
    padding-left: 2vw;
    padding-right: 2vw;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: initial;
}

#navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 1.1vw;
    font-family: 'Francois One', sans-serif;
    position: relative;
    background-color: lightgrey;
    text-align: center;
}

#popup-frame {
	margin-top: 10vw;
	background-color: dodgerblue;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	position: absolute;
	text-align: center;
}

.ne {
    padding-left: 1em;
    padding-right: 1em;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: lightslategrey
}

a:active {
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    padding-top: 1vw;
    position: sticky;
    margin: auto;
    width: 50%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: .25vw;
    font-size: 1.1vw;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    color: black;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 0.7vw;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 0.7vw;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 1.5vw;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 1vw .625em .625em .625em;
        height: 5vw;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 10vw;
        font-size: 3vw;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
