td {
  border-spacing: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.5vw;
  font-size: 1vw;
}
tr {
  padding-bottom: 3vw;
  background-color: #e8e8e8;
}
th {
  font-size: 2vw;
}
#TBA {
    font-family: 'Heebo', sans-serif;
}
